@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply bg-slate-100
    }
}

.bottom {
    background-color: orangered;
}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}



.side {
    display: none;
}

.nav-toggle {
    display: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.settings-icon {
    background-color: orangered;
    color: white;
}